/* Theme: mb-labs Bootstrap theme */
/* Author: BACOU, Melanie <mel@mbacou.com> */
/* Version: v2.1.1 */
/* Date: 2024-01-31 */
/* Boostrap customizations for Mel B. Labs */

/*-- scss:defaults --*/

$theme: 'mb-labs';

$teal:      $brand-teal;
$indigo:    $brand-indigo;
$blue:      $brand-blue;
$cyan:      $brand-cyan;
$green:     $brand-green;
$purple:    $brand-purple;
$pink:      $brand-pink;
$red:       $brand-red;
$orange:    $brand-orange;
$yellow:    $brand-yellow;
$gray:      $brand-gray;
$darkgray:  $brand-darkgray;

$light:     $brand-light;
$dark:      $brand-dark;

$font-family-base:       "Crimson Text";
$font-family-sans-serif: "M PLUS Code Latin";
$font-family-serif:      "Story Script";
$font-monospace:         "M PLUS Code Latin";
$headings-font-family:   "M PLUS Code Latin";

// Generally no need to modify below this line
$black:     #000000;
$white:     #ffffff;

$gray-100:   tint-color($gray, 90%);
$gray-200:   tint-color($gray, 80%);
$gray-300:   tint-color($gray, 70%);
$gray-400:   tint-color($gray, 60%);
$gray-500:   tint-color($gray, 50%);
$gray-600:   tint-color($gray, 40%);
$gray-700:   tint-color($gray, 30%);
$gray-800:   tint-color($gray, 20%);
$gray-900:   tint-color($gray, 10%);

$body-color: $gray-800;
$body-bg:    $light;
$link-color: $gray-700;
$text-muted: rgba($body-color, .85);
$code-color: $gray-700;
$shaded:     rgba($body-bg, .65);      // also $input-bg

$headings-font-color: $gray-900;       // darker than normal
$headings-font-weight: 400;
$font-weight-bold: 500;

$spacer: 2rem;                         // 30px line-height
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 1,
  4: $spacer * 1.5,
  5: $spacer * 2,
);

$font-size-base:    20/15 * 1rem;      // 1rem = 15px in `_quarto.yml`
$small-font-size:   18/15 * 1rem;
$code-font-size:    15/15 * 1rem;
$sub-sup-font-size: 15/15 * 1rem;

$h1-font-size:  calc($font-size-base + 14px);    // 34px
$h2-font-size:  calc($font-size-base + 12px);    // 30px
$h3-font-size:  calc($font-size-base + 10px);    // 26px
$h4-font-size:  calc($font-size-base +  8px);    // 24px
$h5-font-size:  calc($font-size-base +  6px);    // 22px
$h6-font-size:  calc($font-size-base + 16px);    // 35px alt font

$line-height-base: calc($spacer / $font-size-base);
$list-inline-padding: .25rem;

$enable-rounded: true;
$enable-negative-margins: true;

$border-color: $body-color;
$border-radius-sm: 0;
$border-radius: .25rem;
$border-radius-lg: .5rem;
$border-width: 1px;
$hr-border-color: $border-color;
$hr-opacity: 1;

$table-cell-padding: 0 .5rem;
$table-cell-padding-sm: 0 .5rem;
$table-striped-bg: tint-color($darkgray, 55%);
$table-border-color: tint-color($darkgray, 55%);
$table-hover-bg: rgba($darkgray, .75);

$thumbnail-border-width: 0;
$thumbnail-border-radius: $border-radius;
$thumbnail-border-color: $border-color;

$input-color: $text-muted;
$input-bg: $shaded;
$input-btn-padding-y: .25rem;
$input-placeholder-color: $input-color;
$input-border-color: $border-color;
$input-disabled-bg: darken($input-bg, 4%);
$input-group-addon-bg: $shaded;

$breadcrumb-active-color: $body-color;
$component-active-bg: rgba($primary, 12%);

$jumbotron-bg: $shaded;
$label-margin-bottom: .5rem;
$list-group-bg: $input-bg;
$list-group-border-color: $input-border-color;
$list-group-hover-bg: lighten($component-active-bg, 20%);
$modal-content-bg: $input-bg;
$modal-content-border-color: $border-color;

$pagination-bg: $input-bg;
$pagination-border-color: $border-color;
$pagination-color: $input-color;
$pagination-disabled-bg: $input-disabled-bg;
$pagination-hover-color: $link-color;
$progress-bg: $input-bg;

$card-spacer-x: .5rem;
$card-spacer-y: 0;
$card-title-spacer-x: 0;
$card-title-spacer-y: .5rem;
$card-title-color: $headings-font-color;
$card-bg: transparent;
$card-cap-bg: $shaded;
$card-border-width: 0;
$card-border-color: $darkgray;
$card-border-radius: $border-radius;

$callout-margin-x:  0;
$callout-margin-y:  2rem;
$callout-padding-x: 1rem;
$callout-padding-y: .5rem;
$callout-border-width: 0;
$callout-border-left-width: 3px;
$callout-border-radius: $border-radius;
$callout-border-color: $border-color;

$navbar-active-color: $body-color;
$navbar-hover-color: $primary;
$navbar-border-color: $border-color;
$navbar-brand-padding-y: 0;
$navbar-brand-font-size: 2rem;
$navbar-toggler-font-size: $code-font-size;

$nav-link-color: $body-color;
$nav-link-active-color: $body-color;
$nav-link-hover-color: $primary;
$nav-link-font-family: $font-family-sans-serif;
$nav-link-font-size: calc($code-font-size + 1px);
$nav-link-font-weight: 400;
$nav-link-padding-x: 1rem;
$nav-link-padding-y: 0;
$nav-tabs-border-color: $border-color;


/*-- scss:rules --*/

// Quarto layout overrides for vertical rhythm
#quarto-content>*, #quarto-header>*, .quarto-title-banner>*, #quarto-sidebar>* {
  padding: 0;
  margin: 0;
}
a.footnote-ref {
  color: $secondary;
  font-weight: 500;
}
div.quarto-post a {
  color: inherit;
}
b, strong {
  font-weight: $font-weight-bold;
}
p, div, li, dd, blockquote{
  line-height: 2rem;
}
p, ol, ul, dl {
  margin: 0 0 1rem 0;
}
.content > p:first-of-type {
  margin-top: 2rem;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: $headings-font-color;
  font-weight: $headings-font-weight !important;
  line-height: 3rem;
  padding: 0;
  margin-top: 2rem;
}
h1.title:not(.quarto-secondary-nav-title), .h1.title:not(.quarto-secondary-nav-title),
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-size: calc($h1-font-size + .5rem);
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.level1 h1:not(.title) {
  margin-top: 3rem;  
}
h1.quarto-secondary-nav-title {
  font-size: $navbar-brand-font-size;
}
h2, .h2 {
  color: $primary;
  border-bottom: none;
}
h4, .h4 {
  color: $gray-500;
}
h3, .h3 {
  line-height: 2.5rem;
}
h4, .h4, h5, .h5, h6, .h6 {
  line-height: 2rem;
}
h6, .h6 {
  color: $primary;
  font-family: $font-family-serif;
  margin: 0 0 1.5rem -.5rem;
  transform: rotate(-2deg);
}
hr {
  border-top: double .25rem $hr-border-color;
  margin: .5rem 0 2.25rem;
}
.blockquote {
  color: $gray-500;
  font-size: 2rem;
  font-style: italic;
  text-align: right;
  border: none;
  padding: 0;
  margin: 2rem 0 2rem 2rem;
}
blockquote small, blockquote .small {
  color: $headings-font-color;
  font-family: $font-family-sans-serif;
  font-size: $code-font-size;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}
ul li ul li {
  margin-bottom: -1px;                 // bug?
}
ul li ul li:last-child {
  margin-bottom: calc(.5rem - 1px);
}
.quarto-title-banner .quarto-title .title, h1.title {
  font-family: $headings-font-family;
  font-weight: 400;
  font-size: 2.75rem;
  margin-top: 3rem;
}
.lead, .lead p {
  font-family: $font-family-base;
  font-size: 2rem;
  font-weight: 300;
  color: $text-muted;
  font-style: normal;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
}
p.subtitle {
  color: $gray-500;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.description {
  color: $info;
  font-family: $font-family-serif;
  font-size: $small-font-size;
  padding: 1rem 2rem 0;
  background-color: rgba($info, 10%);
  backdrop-filter: blur(6px);
  transform: rotate(.6deg);  
}
mark, .mark {
  color: inherit;
  font-weight: 500;
  padding: 0 .25rem; 
  background-color: rgba($primary, 10%);
  border-radius: $border-radius;
}

// Article pages
#quarto-appendix.default .quarto-appendix-heading, .quarto-title-meta-heading, 
#title-block-header.quarto-title-block.default .abstract .block-title,
details>summary {
  font-family: $font-family-sans-serif;
  font-size: $code-font-size !important;
  color: darken($darkgray, 25%);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2rem;
  margin: 0 0 .5rem;
  padding-left: .5rem;
  border-bottom: 2px solid $darkgray;
  max-width: 17rem;  
  opacity: 1 !important;
}
.quarto-title-meta {
  padding: 1rem 0;
}
.quarto-title-meta-heading {
  display: none;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-contents p, 
#title-block-header.quarto-title-block.default .quarto-title-authors p,
#title-block-header.quarto-title-block.default .quarto-title-affiliations p {
  color: $body-color;
  margin: 0 0 1rem 0;
}
#title-block-header.quarto-title-block.default .abstract p {
  color: $text-muted;
  text-align: justify; 
  font-size: $small-font-size;
  padding: 0 .5rem;
}
#title-block-header.quarto-title-block.default .keywords p:last-of-type, 
#title-block-header.quarto-title-block.default .description p:last-of-type, 
#title-block-header.quarto-title-block.default .abstract p:last-of-type {
  margin-bottom: 2rem;
}
.quarto-title-meta-contents p {
  border-bottom: 2px solid $darkgray;
  max-width: 16rem;
}
.quarto-title-meta-contents p::before {
  content: 'Author:';
  color: darken($darkgray, 25%);
  font-family: $font-family-sans-serif;
  font-size: $code-font-size;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: .5rem;
  margin-right: 1rem; 
}
p.date::before {
  content: 'Published:';
}
p.date-modified::before {
  content: 'Modified:';
}
#quarto-appendix.default {
  background: $body-bg;
  padding: 1rem 2rem 0;
  margin: 2rem 0 0;
  border: none;
}

/* Listing pages */
div.quarto-post .metadata {
  font-size: $small-font-size;
}
h5.quarto-listing-category-title, #quarto-margin-sidebar h5,
#quarto-margin-sidebar .quarto-listing-category-title,
.column-margin h5, #toc-title {
  color: $primary;
  font-family: $headings-font-family;
  font-size: $small-font-size;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 2rem;
  cursor: unset;
  transform: rotate(-.8deg);
  border-bottom: 3px solid rgba($primary, .25);
  max-width: 15rem;
  opacity: 1;
}
#toc-title {
  text-align: end;
  margin: 0 1rem .5rem 0;  
  border: none;
  transform: rotate(0deg);
}

/* Boostrap and listing cards */
.card {
  margin: 1rem 1rem 0 0;
}
.quarto-grid-item p.card-img-top, .thumbnail p.card-img-top {
  position: relative;
  overflow: clip;
  padding: .5rem;
  margin: 0 0 1rem 0;
  background-color: $body-bg;
}
img.card-img {
  width: 100%; 
  object-fit: contain;
  transition: transform 0.3s ease;
  filter: grayscale(100%);
  mix-blend-mode: darken;

  &:after {
    content: '';
    background: inherit;
    position: absolute;
    top: 0;
    filter: grayscale(100%) invert(100%) blur(5px) contrast(1.3);
    mix-blend-mode: color-dodge;
  }  
}
img.card-img:hover {
  transform: scale(1.15);
  filter: none;
}
.quarto-grid-item h5.card-title, h3.listing-title {
  color: $card-title-color;
  font-size: $h5-font-size;
  margin: 1rem 0;
} 
.quarto-grid-item .card-text {
  font-size: unset;
} 
.quarto-grid-item .card-text-small {
  font-size: $code-font-size;
}
.quarto-grid-item .card-attribution {
  padding: 1rem 0 0;
  text-transform: none;
  font-weight: 400;
}
.quarto-grid-item .card-attribution, .listing-author, .date, .date-modified {
  color: $text-muted;
}
.listing-date {
  font-family: $font-family-sans-serif;
  font-size: $code-font-size;
  font-weight: $font-weight-bold;
  color: tint-color($secondary, 20%);
}
.listing-file-modified, .listing-author, .listing-reading-time {
  font-family: $font-family-sans-serif;
  font-size: $code-font-size;
  color: $text-muted;
}
.listing-reading-time::before {
   content: "\F293";
   font-family: 'bootstrap-icons';
   margin-right: .5rem;
}
div.quarto-post .listing-description {
  margin-bottom: calc(1rem - 2px);
}
.quarto-listing-sort {
  margin: 0 0 1rem auto;
}
.quarto-grid-item .listing-categories {
  margin: 1rem .5em 1rem 0;
  padding: 0;
}
.list {
  margin: 1rem 0;
}

/* Code blocks */
pre, code, pre code {
  color: $code-color;
  font-family: $font-monospace;
  font-size: $code-font-size;
  background-color: none;
  padding: 0;
}
code span.fu, code span.sc {
  font-weight: 400;
}
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  color: inherit;
  font-family: $font-monospace;
  font-size: $code-font-size;
  line-height: inherit;
  background-color: $shaded;
  padding: 0 .25rem !important;
}
.code-with-filename .code-with-filename-file {
  background-color: $table-striped-bg;
  padding: 0 1rem;
  border: 1px solid $table-striped-bg;
  border-radius: $border-radius $border-radius 0 0;
}
.code-with-filename pre {
  color: $code-color;
  font-size: $code-font-size;
  line-height: calc(2rem - 2px);
}
div.sourceCode, details, .cell {
  margin: 0 0 2rem 0;
}
div.sourceCode {
  background-color: $shaded !important;
  border: none;
  padding: 1rem 1rem .5rem;
}
pre.sourceCode, pre > code.sourceCode > span {
  font-size: $code-font-size;
  line-height: 1.5rem;
  background: none;
  padding: 0;
}
#quarto-appendix.default .quarto-appendix-bibtex, .sourceCode .bibtex,
#quarto-appendix.default .quarto-appendix-citeas {
  font-family: $font-monospace;
  font-size: $code-font-size;
  line-height: 1.5rem;
  color: $text-muted;
  border: none;
  background: none;
}


/* Tables */
table, .table {
  margin: .5rem 0;
  border: none;
  border-top: 1px solid $border-color;
  background-color: $shaded;
  backdrop-filter: blur(3px);   
}
.table>:not(caption)>*>* {
  padding: 0 .5rem;
}
.table th {
  color: $headings-font-color;
  font-family: $font-family-sans-serif;
  font-size: $code-font-size;
  font-weight: 500;
  line-height: calc(2rem - 1px);
  border: none;
}
.table tbody {
  border-top: 1px solid $border-color;  
  border-bottom: 2px solid $border-color;
}
.table td {
  line-height: calc(2rem - 1px);
  border: none;
  border-bottom: 1px solid $darkgray;  
}
.table-borderless td, .table tr:last-of-type td, .table-striped td {
  border-bottom: none; 
}


/* Margin notes and captions */
caption, .panel-caption, .figure-caption, .subfigure-caption, .table-caption,
figcaption, .column-margin figcaption, .margin-caption, 
div.aside, aside, .column-margin {
  font-family: $font-family-sans-serif;
  font-size: $code-font-size;
  color: $text-muted;
  padding: 0;
  margin: 0 0 1rem 0;
}
.aside, .column-margin {
  font-family: $font-family-base;
  font-size: $small-font-size;
  line-height: 1.75rem;
  margin: 0;
}
.aside p, .column-margin p {
  margin-bottom: 1rem;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
}
table caption {
  padding: .5rem;
}


/* Figures */
.figure {
  margin: 0;
}
.figure-img {
  background-color: $shaded;
  padding: 0;
}
.img-thumbnail {
  padding: 0;
  margin-bottom: 1rem;
}
.img-fluid {
  border-radius: $border-radius;
}
.img-rounded {
  border-radius: 6rem;
  max-width: 10rem;
}

/* Callouts (Quarto bloody mess)  */
.callout.callout-style-simple, .callout.callout-style-default {
  border: none;
  border-width: $callout-border-width;
  border-left-width: $callout-border-left-width;
  border-radius: $callout-border-radius;
  margin: $callout-margin-y $callout-margin-x;
}
.callout.callout-style-simple .callout-body {
  padding: $callout-padding-y $callout-padding-x;
  margin: 0;
}
.callout.callout-style-simple .callout-body,
.callout.callout-style-simple .callout-body p,
.callout.callout-style-default .callout-body p {
  font-size: unset;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
}
.callout:not(.callout-titled) .callout-body>:first-child, 
.callout:not(.callout-titled) .callout-body>div>:first-child {
  margin-top: 0;
}
.panel-tabset>.nav-tabs, .panel-tabset>.tab-content {
  border: none;
}


/* Quarto page layout fixes */

// Notebook gridlines
#quarto-content {
  border-top: solid 1px $darkgray;
  background-image:
    linear-gradient(to right, $darkgray, transparent 1px, transparent),
    linear-gradient(to bottom, $darkgray, transparent 1px, transparent);
    background-color: $body-bg;;
    background-size: 2rem 2rem ;
    background-position: 0 calc(-.5rem + 1px);
    background-repeat: repeat;
}
#quarto-header>nav {
  padding: 0;
  margin: 0 2rem;
}
.navbar, .quarto-banner nav.quarto-secondary-nav {
  padding: 0;
  margin: 0;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid $navbar-border-color;   
}
.quarto-title-block .quarto-title-banner  {
  padding: 0 0 1rem 0 !important;
  margin: 0  !important;
  background-size: 100vw auto !important;
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}
.navbar #quarto-search {
  margin: 0;
}
.navbar #quarto-search input {
  font-size: unset;
}
#quarto-announcement {
  font-family: $font-family-sans-serif;
  font-size: 1.25rem;
  border: none;
}
body.nav-sidebar .quarto-title-banner {
  margin-bottom: 2rem;
  padding: 0;
}
.page-columns .column-screen-inset-shaded {
  padding: 1rem 1rem .5rem 1rem;
  background-color: $shaded;
}
.navbar .nav-item:not(.compact.collapse) .nav-link,
.nav-tabs .nav-item .nav-link {
  font-family: $nav-link-font-family;
  font-size: $nav-link-font-size;
  font-weight: $nav-link-font-weight;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 4rem;
  padding: $nav-link-padding-y $nav-link-padding-x;  
  margin-bottom: -3px;
  border: none;
  border-bottom: solid 3px transparent;
}
.navbar .nav-item:not(.compact.collapse) .nav-link.active,
.nav-tabs .nav-item .nav-link.active {
  color: $nav-link-active-color;
}
.navbar .nav-item:not(.compact.collapse) .nav-link:hover,
.nav-tabs .nav-item .nav-link:hover {
  border-bottom: solid 3px $nav-link-hover-color;
  background-color: rgba($nav-link-hover-color, 10%);
}
.navbar-expand-lg .navbar-nav .nav-link {
  font-family: $nav-link-font-family;
  padding: $nav-link-padding-y $nav-link-padding-x;
  line-height: 2rem;
}
.navbar-title {
  font-family: $headings-font-family;
  line-height: 4rem;
}
.navbar-logo {
  max-height: 7rem;
  position: absolute;
  top: 1rem;
}
.tools-wide {
  padding: 0 2rem;
}

/* Footer */
footer.footer .nav-footer {
  margin: 0;
  padding: 2rem;
}
.nav-footer .nav-footer-left p,
.nav-footer .nav-footer-right p,
.nav-footer .nav-footer-center p {
  font-family: $font-family-sans-serif;
  font-size: $code-font-size;
  line-height: 1.5rem;
}
.nav-footer-center {
  display: none;
}
.nav-footer .nav-footer-right p {
  font-size: $font-size-base;
}

@import '_extra';

