/* Theme: mb-labs Bootstrap color theme */
/* Author: BACOU, Melanie <mel@mbacou.com> */
/* Version: v1.0.0 */
/* Date: 2024-01-31 */

/*-- scss:defaults --*/

$theme: 'mb-labs';

$teal:      #8E8467;
$indigo:    #79799C;
$blue:      #00839E;
$cyan:      #05D5FF;
$green:     #73842A;
$purple:    #8D46C1;
$pink:      #C6A5E8;
$red:       #B54D4D;
$orange:    #A1713C;
$yellow:    #E0D1A4;
$gray:      #212120;                   // Typography
$darkgray:  #E2D4F4;                   // Paper rules

$light:     #FCFAF5;                   // Paper tone
$dark:      #003946;                   // Contrasting background

$primary:     #D47979;
$secondary:   $purple;
$info:        $blue;

$font-family-base:       "Crimson Text";
$font-family-sans-serif: "M PLUS Code Latin";
$font-family-serif:      "Marck Script";
$font-monospace:         "M PLUS Code Latin";
$headings-font-family:   "M PLUS Code Latin";

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@300..500&family=M+PLUS+Code+Latin:wght@400..500&family=Marck+Script:wght@400&display=swap');

@import '_theme';
