/* Theme: mb-labs Bootstrap color theme */
/* Author: BACOU, Melanie <mel@mbacou.com> */
/* Version: v1.0.0 */
/* Date: 2024-01-31 */

/*-- scss:defaults --*/

$theme: 'mb-labs';

$teal:      #445e64;
$cyan:      #789494;
$green:     #27ae60;
$blue:      #3daee9;
$purple:    #9b59b6;
$pink:      #aea39a;
$indigo:    #98796f;
$red:       #da4453;
$orange:    #ffac5e;
$yellow:    #eed04c;

$light:     #fdfcf9;                   // Notebook paper tone
$dark:      #222e32;                   // Dark or contrasting background
$gray:      #505050;                   // Typography
$darkgray:  #e7e2da;                   // Notebook paper rules

$primary:     mix($red, $light, 75%);
$secondary:   $purple;
$info:        mix($blue, $dark);

$font-family-base:       "Crimson Text";
$font-family-sans-serif: "M PLUS Code Latin";
$font-family-serif:      "Marck Script";
$font-monospace:         "M PLUS Code Latin";
$headings-font-family:   "M PLUS Code Latin";

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,300;0,600;1,300;1,400;1,600&family=M+PLUS+Code+Latin:wght@400..500&family=Marck+Script:wght@400&display=swap');

@import '_theme';
