$theme: "mblabs";

/*-- scss:defaults --*/

$primary: #789494;
$secondary: #9ABEBE;

$white: #FCFCFD;
$black: #192124;

$blue: #AEDDFF;
$green: #C3E88D;
$yellow: #F7EB95;
$purple: #C792EA;
$red: #EB606B;
$teal: #80CBC3;
$cyan: #116095;
$indigo: #95A1F7;
$orange: #EB9B60;
$pink: #EB606B;

$info: $blue;
$warning: $orange;

$gray-100: #DCDFE4;
$gray-200: darken($gray-100, 4%);
$gray-300: darken($gray-100, 8%);
$gray-400: darken($gray-100, 12%);
$gray-500: darken($gray-100, 16%);
$gray-600: darken($gray-100, 20%);
$gray-700: #6c757d;
$gray-800: #384C52;
$gray-900: #222E32;

$body-color: $white;
$body-bg: $gray-800;

$border-color: rgba($black, .125);
$border-radius-lg: 10px;
$border-radius-sm: 0;
$border-radius: 0;

$breadcrumb-active-color: $body-color;
$card-bg: rgba(#ffffff, .2);
$component-active-bg: rgba($primary, .5);
$figure-caption-color: $text-muted;

$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: 'Roboto Condensed';
$headings-font-weight: 400;

$component-active-bg: rgba($secondary, .8);
$input-color: $body-color;
$input-bg: rgba(#ffffff, .3);
$input-border-color: darken($body-bg, 5%);
$input-disabled-bg: lighten($body-bg, 2%);
$input-group-addon-bg: darken($input-bg, 15%);
$input-placeholder-color: $gray-300;
$jumbotron-bg: lighten($input-bg, 5%);
$label-margin-bottom: .05rem;
$link-color: $indigo;
$list-group-action-color: $indigo;
$list-group-bg: $input-bg;
$list-group-border-color: $input-border-color;
$list-group-hover-bg: lighten($component-active-bg, 20%);
$modal-content-bg: $input-bg;
$modal-content-border-color: $input-border-color;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: darken($body-bg, 5%);
$nav-tabs-border-color: $input-border-color;
$nav-tabs-link-hover-border-color: $gray-900 $gray-900 $nav-tabs-border-color;
$nav-tabs-link-active-border-color: $nav-tabs-link-active-bg;
$pagination-bg: $input-bg;
$pagination-border-color: $input-border-color;
$pagination-color: $input-color;
$pagination-disabled-bg: $input-disabled-bg;
$pagination-hover-color: $white;
$progress-bg: $input-bg;
$thumbnail-border-color: $input-border-color;

/*-- scss:rules --*/

@import url('//fonts.googleapis.com/css?family=Roboto|Roboto-Condensed:400,700');

nav.sidebar.sidebar-navigation, #quarto-appendix.default {
  background-color: transparent;
}
.quarto-listing-category-title, #toc-title {
  text-transform: uppercase;
}
.listing-date, .quarto-title-meta-heading {
  font-family: $headings-font-family;
  color: $orange;
  font-weight: 500;
  opacity: 1;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  opacity: 1;
  font-weight: 500;
}
#quarto-margin-sidebar .quarto-listing-category-title, #toc-title, .action-links {
  font-family: $headings-font-family;
  color: $gray-600;
  font-weight: 400;
}
.nav-footer {
  background: $gray-900;
  font-family: $headings-font-family;
}
.sidebar nav#TOC>h2, .sidebar nav#TOC>.h2 {
  color: $secondary;
  font-weight: 600;
}
div.quarto-post .metadata {
  font-size: .9rem;
}
.nav-footer-left {
  text-align: left;
}
.navbar-brand {
  max-width: unset;
  overflow: unset;
  padding-right: 3rem;
}
.panel-tabset {
  background: darken($body-bg, 5%);
}
ul.nav.nav-tabs {
  background: $body-bg;
}
pre.sourceCode {
  border-left-color: $primary;
}
.listing-actions-group {
  margin-bottom: 2rem;
}
.thumbnail img, .rounded {
  border-radius: $border-radius-lg;
}
.quarto-grid-item .card-attribution {
  color: $gray-400;
}
.quarto-grid-item .listing-categories .listing-category {
  color: $gray-400;
  border: solid 1px $gray-400;
}
.quarto-grid-item .card-title {
  margin-bottom: .3em;
}
div.quarto-about-trestles .about-entity .about-link {
  color: $primary;
  border: none;
}
.title {
  color: $gray-400;
}
