/*-- scss:defaults --*/

$white:      #ffffff;
$dark:       #212d31;
$light:      #f0f0f0;
$primary:    #435d64;
$secondary:  #a4bcbf;
$info:       #6bc48f;
$accent1:    #54544f;
$accent2:    #98796f;
$accent3:    #aea39a;
$success:    #3ab264;
$warning:    #edcd37;
$danger:     #f61f32;

$blue:    $secondary;
$indigo:  $accent1;
$purple:  $accent2;
$pink:    $accent3;
$red:     mix($danger, $warning);
$orange:  $warning;
$yellow:  $danger;
$green:   $primary;
$teal:    $info;
$cyan:    $success;

$gray-100: $light;
$gray-200: darken($gray-100, 4%);
$gray-300: darken($gray-100, 8%);
$gray-400: darken($gray-100, 12%);
$gray-500: darken($gray-100, 16%);
$gray-600: darken($gray-100, 20%);
$gray-700: darken($gray-100, 24%);
$gray-800: $dark;
$gray-900: $primary;

$min-contrast-ratio: 2.6;

$body-color: mix(#ffffff, $white);
$body-bg: $dark;
$text-muted: rgba($body-color, 50%);

$border-color: rgba($gray-500, 30%);
$border-radius-sm: 0;
$border-radius: 0.25rem;
$border-radius-lg: 0.50rem;
$enable-rounded: true;
$input-btn-padding-y: 0.1rem;

$table-border-color: #border-color;

$thumbnail-border-width: 0;
$thumbnail-border-radius: 0.25em;
$thumbnail-border-color: $border-color;

$input-color: lighten($text-muted, 20%);
$input-bg: lighten($body-bg, 20%);
$input-placeholder-color: $input-color;
$input-border-color: $border-color;
$input-border-radius: 0.25rem;
$input-disabled-bg: darken($input-bg, 4%);
$input-group-addon-bg: darken($input-bg, 4%);

$breadcrumb-active-color: $body-color;
$component-active-bg: rgba($secondary, 12%);

$jumbotron-bg: $light;
$label-margin-bottom: .05em;
$list-group-bg: $input-bg;
$list-group-border-color: $input-border-color;
$list-group-hover-bg: lighten($component-active-bg, 20%);
$modal-content-bg: $input-bg;
$modal-content-border-color: $border-color;
$nav-tabs-border-color: $border-color;

$pagination-bg: $input-bg;
$pagination-border-color: $border-color;
$pagination-color: $input-color;
$pagination-disabled-bg: $input-disabled-bg;
$pagination-hover-color: $white;
$progress-bg: $input-bg;

$card-bg: $primary;
$card-cap-bg: rgba($border-color, 20%);
$card-border-width: 0;
$card-border-color: $border-color;
$card-border-radius: $border-radius;

$font-family-sans-serif: "Roboto";
$font-monospace: "Roboto Mono";
$headings-font-family: "Roboto Condensed";
$font-weight-bold: 600;
$headings-font-weight: 400;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Roboto+Condensed:wght@400;500&family=Roboto+Mono:wght@400&display=swap');

.quarto-title-banner .quarto-title .title {
  font-weight: normal;
}
h1, h2 {
  font-weight: 300;
}
h3, h4, h5 {
  font-weight: 500;
}
h2, h5 {
  color: $text-muted;
}
pre code, .quarto-appendix-citeas {
  font-family: $font-monospace;
  font-size: .8rem;
  color: $text-muted;
}
.quarto-title-banner h1 {
  color: $body-color;
  font-size: 2.4rem;
  opacity: 80%;
}
p.subtitle {
  margin-top: 0;
  color: rgba($text-muted, 40%);
}
.abstract {
  color: $text-muted;
  margin-bottom: 1em;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-heading,
#title-block-header.quarto-title-block.default .abstract .block-title,
#quarto-appendix.default .quarto-appendix-heading {
  font-family: $headings-font-family;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 500;
  color: $accent2;
  opacity: 1;
}
div.quarto-post .metadata {
  font-size: .9rem;
}
#quarto-margin-sidebar .quarto-listing-category-title, .action-links {
  font-family: $headings-font-family;
  color: $text-muted;
  font-weight: 500;
}
.quarto-title .quarto-categories {
  padding-bottom: 0;
}
.navbar, .nav-footer {
  font-family: $headings-font-family;
}
.quarto-grid-item .card-attribution, .listing-author, .date, .date-modified {
  color: $text-muted;
}
.quarto-listing-category-title, #toc-title,
#quarto-margin-sidebar .quarto-listing-category-title {
  font-family: $headings-font-family;
  font-size: .9rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $accent2;
}
.card {
  border-bottom: solid $border-color 3px;
}
.quarto-grid-item .card-title {
  margin-bottom: .75em;
}
.listing-date {
  font-family: $headings-font-family;
  font-weight: 500;
  color: $accent2;
}
.listing-file-modified {
  font-family: $headings-font-family;
  color: $text-muted;
}
.column-margin, .margin-sidebar, .sidebar, .description {
  color: $text-muted;
}
div.sourceCode, pre.sourceCode, .quarto-appendix-citeas, .callout {
  background-color: $input-bg;
}
div.sourceCode {
  border-bottom: solid $border-color 3px;
}
.callout.callout-style-default {
  border-top: none;
  border-right: none;
  border-bottom: solid $border-color 3px;
}
.quarto-title .quarto-categories .quarto-category,
.quarto-grid-item .listing-categories .listing-category {
  font-family: $headings-font-family;
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  padding: .25rem .75rem;
  color: $text-muted;
  background-color: $light;
  opacity: 1;
}
.quarto-grid-item .listing-categories .listing-category {
  padding-bottom: .1rem;
  font-size: .65rem;
}
.table {
  border-top: 1px solid $border-color;
  border-bottom: 3px solid $border-color;
  border-radius: $border-radius;
}
.table>thead {
  border-bottom: 2px solid $border-color;
}
th {
  font-family: $headings-font-family;
  font-weight: 300;
  background-color: $white;
}
caption, .panel-caption, .figure-caption, .subfigure-caption, .table-caption,
figcaption, .column-margin figcaption,
.margin-caption, div.aside, aside, .column-margin {
  font-family: $headings-font-family;
  font-size: .9rem;
  color: $text-muted;
}
caption, .table-caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

/*-- layout --*/

#quarto-header>nav {
  padding-left: 0;
  padding-right: 0;
}
.navbar-brand {
  margin-left: 1em;
  font-weight: 500;
  color: $light;
}

.quarto-title-banner {
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 0;
}
#title-block-header {
  background: $light;
  padding-bottom: 0;
  margin-block-end: 0;
}
#quarto-content>* {
  padding-top: 0;
  margin-top: 0;
}
#quarto-margin-sidebar {
  padding-top: 2em;
}
main>p {
  margin-top: 1em;
}
