/* Theme: mblabs-notebook */
/* Author: BACOU, Melanie <mel@mbacou.com> */
/* Version: v1.0.0 */
/* Date: 2024-01-31 */

/*-- scss:defaults --*/

$white:     #ffffff;
$black:     #333333;

$dark:      #222e32;
$light:     #f2efed;
$primary:   #445e64;
$secondary: #789494;

$blue:      #3daee9;
$indigo:    #9b59b6;
$purple:    #98796f;
$pink:      #aea39a;
$red:       #da4453;
$orange:    #f67400;
$yellow:    #edcd37;
$green:     #27ae60;
$teal:      $primary;
$cyan:      $secondary;

$gray:      #f9f9f9;
$gray-100:  $gray;
$gray-200:  darken($gray, 4%);
$gray-300:  darken($gray, 8%);
$gray-400:  darken($gray, 12%);
$gray-500:  darken($gray, 16%);
$gray-600:  darken($gray, 20%);
$gray-700:  darken($gray, 24%);
$gray-800:  darken($gray, 28%);
$gray-900:  darken($gray, 32%);

$min-contrast-ratio: 2.6;

$body-color: $black;
$body-bg: $gray;
$shaded: darken($body-bg, 3%);
$link-color: mix($primary, $blue);
$text-muted: rgba($body-color, 70%);
$secondary-color: $text-muted;
$code-color: $text-muted;
$blockquote-small-color: $text-muted;

$border-color: $gray-400;
$border-radius-sm: 0.25rem;
$border-radius: 0.25rem;
$border-radius-lg: 0.50rem;
$enable-rounded: true;
$hr-border-color: $border-color;

$navbar-bg: rgba($light, 10%);
$nav-link-padding-x: 0.50rem;
$nav-link-padding-y: 0.15rem;

$table-cell-padding: .25rem;
$table-cell-padding-sm: .25rem;
$table-striped-bg: darken($body-bg, 2%);
$table-border-color: $border-color;

$thumbnail-border-width: 0;
$thumbnail-border-radius: $border-radius;
$thumbnail-border-color: $border-color;

$input-color: $text-muted;
$input-bg: $white;
$input-btn-padding-y: .15rem;
$input-placeholder-color: $input-color;
$input-border-color: $border-color;
$input-disabled-bg: darken($input-bg, 4%);
$input-group-addon-bg: darken($input-bg, 4%);

$breadcrumb-active-color: $body-color;
$component-active-bg: rgba($link-color, 12%);

$jumbotron-bg: $light;
$label-margin-bottom: .05rem;
$list-group-bg: $input-bg;
$list-group-border-color: $input-border-color;
$list-group-hover-bg: lighten($component-active-bg, 20%);
$modal-content-bg: $input-bg;
$modal-content-border-color: $border-color;
$nav-tabs-border-color: $border-color;

$pagination-bg: $input-bg;
$pagination-border-color: $border-color;
$pagination-color: $input-color;
$pagination-disabled-bg: $input-disabled-bg;
$pagination-hover-color: $white;
$progress-bg: $input-bg;

$card-bg: transparent;
$card-cap-bg: rgba($border-color, 20%);
$card-border-width: 0;
$card-border-color: $border-color;
$card-border-radius: $border-radius;

$font-family-sans-serif: "Inter";
$font-monospace: "Roboto Mono";
$headings-font-family: "Roboto Condensed";
$font-weight-bold: 600;
$headings-font-weight: 400;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Condensed:wght@400;500;600&family=Roboto+Mono:wght@400&display=swap');
b, strong {
  font-weight: 600;
}
h1, h2 {
  font-weight: 400;
}
h3, h4, h5 {
  font-weight: 500;
}
h2, h4 {
  color: $text-muted;
}
blockquote, .blockquote {
  text-align: right;
  color: $body-color;
  border: none;
  border-radius: 0;
  margin-right: 2em;
  margin-left: 20em;
}
blockquote small, .blockquote small {
  font-family: $headings-font-family;
  color: $text-muted;
}
pre code {
  font-family: $font-monospace;
  font-size: .85rem;
  color: $text-muted;
}
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  font-family: $font-monospace;
  font-size: .85rem;
  color: $body-color;
  background-color: transparent;
}
.quarto-title-banner .quarto-title .title {
  font-weight: normal;
}
.quarto-title {
  margin-bottom: .5rem;
}
h1.title {
  color: rgba($body-color, 90%);
}
p.subtitle {
  font-family: $headings-font-family;
  color: rgba($text-muted, 40%);
  margin: 0.25rem 0 1rem 0;
}
.abstract {
  color: $text-muted;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-heading,
#title-block-header.quarto-title-block.default .abstract .block-title,
#quarto-appendix.default .quarto-appendix-heading, #toc-title, details>summary {
  font-family: $headings-font-family;
  font-size: .85em;
  font-weight: 500;
  text-transform: uppercase;
  color: $purple;
  margin-top: .5rem;
  opacity: 1;
}
#quarto-appendix.default {
  background: none;
}
div.quarto-post .metadata {
  font-size: 1rem;
}
.nav-footer {
  font-family: $headings-font-family;
}
.quarto-grid-item .card-attribution, .listing-author, .date, .date-modified {
  color: $text-muted;
}
.action-links {
  font-family: $headings-font-family;
  color: $text-muted;
  font-weight: 500;
}
h5.quarto-listing-category-title,
#quarto-margin-sidebar h5.quarto-listing-category-title {
  font-family: $headings-font-family;
  font-weight: 500;
  text-transform: uppercase;
  color: $purple;
}
#quarto-margin-sidebar .quarto-listing-category-title {
  font-weight: unset;
  font-size: unset;
  cursor: unset;
}
.card {
  border-bottom: solid $border-color 3px;
}
.card-img-top {
  background-color: rgba($primary, 75%);
  border-radius: $border-radius;
}
.quarto-grid-item .card-text {
  margin-top: .25em;
}
.quarto-grid-item .card-title {
  margin-bottom: .75rem;
}
.listing-date {
  font-family: $headings-font-family;
  font-weight: 500;
  color: $purple;
}
.listing-file-modified {
  font-family: $headings-font-family;
  color: $text-muted;
}
div.sourceCode, pre.sourceCode {
  background-color: $shaded;
}
#quarto-appendix.default .quarto-appendix-bibtex, .sourceCode .bibtex,
#quarto-appendix.default .quarto-appendix-citeas {
  font-family: $font-monospace;
  font-size: .7rem;
  color: $text-muted;
  border: none;
  background: transparent;
}
.quarto-title .quarto-categories .quarto-category,
.quarto-grid-item .listing-categories .listing-category,
div.quarto-post .listing-categories .listing-category {
  font-family: $headings-font-family;
  font-size: .85rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark;
  border: none;
  line-height: 1.15rem;
  background-color: lighten($secondary, 28%);
  opacity: 1;
}
.table {
  border-top: none;
  border-radius: 0;
}
.table>thead {
  border-bottom: 2px solid $body-color;
}
th {
  font-family: $headings-font-family;
  font-weight: 300;
}
.small th {
  font-size: 1rem;
}
.table>:not(caption)>*>* {
  padding: 0.2rem 0.5rem 0.05rem 0.5rem;
}
.table-sm>:not(caption)>*>* {
  padding: 0.1rem 0.5rem 0 0.5rem;
}
caption, .panel-caption, .figure-caption, .subfigure-caption, .table-caption,
figcaption, .column-margin figcaption,
.margin-caption, div.aside, aside, .column-margin {
  font-family: $headings-font-family;
  font-size: .95rem;
  color: $text-muted;
}
caption, .table-caption {
  padding: 0.5rem 0;
  text-align: left;
}
.callout.callout-style-default, .callout.callout-style-simple {
  border: none;
  border-radius: 0;
  border-left: 3px solid $primary;
  background-color: $input-bg;
}
.callout.callout-style-simple .callout-body,
.callout.callout-style-default .callout-body {
  font-size: unset;
}
.quarto-sidebar-toggle {
  background: none;
  border: none;
  border-radius: 0;
}
.quarto-sidebar-toggle-title {
  background: $white;
  padding: 0.25rem;
}
nav.sidebar.sidebar-navigation:not(.rollup) {
  background-color: transparent;
}
.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left-width: 2px;
}

// Utilities
.shaded {
  background-color: $shaded;
}
.striped {
  background-image: linear-gradient(45deg,
  $shaded 25%, transparent 25%, transparent 50%,
  $shaded 50%, $shaded 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}
.img-thumbnail {
  padding: 0;
}
.img-fluid {
  border-radius: $border-radius;
}
.img-rounded {
  border-radius: 6rem;
}

// Quarto layout fixes
body {
  background-size: 100vw 100vh;
  background-repeat: no-repeat;

  background-image: linear-gradient(180deg,
  rgba($body-bg, 0.01), rgba($body-bg, 1) 85%),
  radial-gradient(ellipse at top left,
  rgba($white, 0.5), transparent 50%),
  radial-gradient(ellipse at top right,
  rgba($gray-700, 0.4), transparent 50%),
  radial-gradient(ellipse at center right,
  rgba($light, 0.8), transparent 50%),
  radial-gradient(ellipse at center left,
  rgba($white, 0.5), transparent 50%);
}
.navbar {
  backdrop-filter: blur(20px);
}
.navbar .nav-item .nav-link {
  font-weight: 600;
  border-radius: $border-radius;
  line-height: 1.5rem;
  margin-right: 0.25em;
}
.navbar .nav-link:hover {
  color: $dark;
  background-color: lighten($link-color, 28%);
}
.navbar .nav-link.active {
  color: $dark;
  background-color: lighten($secondary, 28%);
}
.navbar-brand {
  font-family: $headings-font-family;
  margin-left: 1em;
  margin-right: 3em;
  font-weight: 500;
  color: $purple;
}
#title-block-header {
  padding-bottom: 2rem;
  margin-block-end: 0;
}
#quarto-header>nav {
  padding-left: 0;
  padding-right: 0;
}
.quarto-title-banner {
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
#quarto-content>* {
  padding-top: 0;
  margin-top: 0;
}
#quarto-content {
  background-size: 100vw 150vh;
  background-repeat: repeat-y;
  background-image: linear-gradient(180deg, transparent 5%, $white 20%, $body-bg 100%);
}
.sidebar-navigation {
  padding-left: unset;
}
