/*-- scss:defaults --*/

$white:      #ffffff;
$dark:       #222e32;
$light:      #f5f5f0;
$primary:    #445e64;
$secondary:  #789494;

$cyan:    #3daee9;
$indigo:  #9b59b6;
$purple:  #98796f;
$pink:    #aea39a;
$red:     #da4453;
$orange:  #f67400;
$yellow:  #edcd37;
$green:   #27ae60;
$teal:    $primary;
$blue:    $secondary;

$gray-100: $light;
$gray-200: darken($gray-100, 4%);
$gray-300: darken($gray-100, 8%);
$gray-400: darken($gray-100, 12%);
$gray-500: darken($gray-100, 16%);
$gray-600: darken($gray-100, 20%);
$gray-700: darken($gray-100, 24%);
$gray-800: $dark;
$gray-900: $primary;

$min-contrast-ratio: 2.6;

$body-color: mix(#000000, $dark);
$body-bg: darken($gray-100, 3%);
$link-color: $primary;
$text-muted: rgba($body-color, 60%);
$secondary-color: $text-muted;
$code-color: $text-muted;
$blockquote-small-color: $text-muted;

$border-color: rgba($gray-500, 80%);
$border-radius-sm: 0.25rem;
$border-radius: 0.25rem;
$border-radius-lg: 0.50rem;
$enable-rounded: true;
$hr-border-color: $border-color;

$table-cell-padding: .25rem;
$table-cell-padding-sm: .25rem;
$table-striped-bg: darken($body-bg, 2%);
$table-border-color: $border-color;

$thumbnail-border-width: 0;
$thumbnail-border-radius: $border-radius;
$thumbnail-border-color: $border-color;

$input-color: $text-muted;
$input-bg: lighten($white, 30%);
$input-btn-padding-y: 0.1rem;
$input-placeholder-color: $input-color;
$input-border-color: $border-color;
$input-disabled-bg: darken($input-bg, 4%);
$input-group-addon-bg: darken($input-bg, 4%);

$breadcrumb-active-color: $body-color;
$component-active-bg: rgba($secondary, 12%);

$jumbotron-bg: $light;
$label-margin-bottom: .05rem;
$list-group-bg: $input-bg;
$list-group-border-color: $input-border-color;
$list-group-hover-bg: lighten($component-active-bg, 20%);
$modal-content-bg: $input-bg;
$modal-content-border-color: $border-color;
$nav-tabs-border-color: $border-color;

$pagination-bg: $input-bg;
$pagination-border-color: $border-color;
$pagination-color: $input-color;
$pagination-disabled-bg: $input-disabled-bg;
$pagination-hover-color: $white;
$progress-bg: $input-bg;

$card-bg: $input-bg;
$card-cap-bg: rgba($border-color, 20%);
$card-border-width: 0;
$card-border-color: $border-color;
$card-border-radius: $border-radius;

$font-family-sans-serif: "Inter";
$font-monospace: "Roboto Mono";
$headings-font-family: "Roboto Condensed";
$font-weight-bold: 600;
$headings-font-weight: 400;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Condensed:wght@400;500&family=Roboto+Mono:wght@400&display=swap');

b, strong {
  font-weight: 600;
}
h1, h2 {
  font-weight: 300;
}
h3, h4, h5 {
  font-weight: 500;
}
h2, h4, blockquote small, .blockquote small {
  color: $text-muted;
}
h4, h5 {
  font-size: 1.25rem;
}
blockquote, .blockquote {
  color: $body-color;
  border-left: solid 5px $border-color;
  border-radius: $border-radius;
}
pre code, .quarto-appendix-citeas {
  font-family: $font-monospace;
  font-size: .8rem;
  color: $text-muted;
}
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  font-family: $font-monospace;
  background-color: transparent;
  color: $body-color;
}
.quarto-title-banner .quarto-title .title {
  font-weight: normal;
}
.quarto-title-banner h1 {
  color: rgba($body-color, 80%);
  font-size: 2.4rem;
}
p.subtitle {
  margin-top: 0;
  color: rgba($text-muted, 40%);
}
.abstract {
  color: $text-muted;
  margin-bottom: 1rem;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-heading,
#title-block-header.quarto-title-block.default .abstract .block-title,
#quarto-appendix.default .quarto-appendix-heading, #toc-title {
  font-family: $headings-font-family;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 500;
  color: $purple;
  opacity: 1;
}
div.quarto-post .metadata {
  font-size: .9rem;
}
.quarto-title .quarto-categories {
  padding-bottom: 0;
}
.navbar, .nav-footer {
  font-family: $headings-font-family;
}
.quarto-grid-item .card-attribution, .listing-author, .date, .date-modified {
  color: $text-muted;
}
.action-links {
  font-family: $headings-font-family;
  color: $text-muted;
  font-weight: 500;
}
h5.quarto-listing-category-title,
#quarto-margin-sidebar h5.quarto-listing-category-title {
  font-family: $headings-font-family;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $purple;
}
#quarto-margin-sidebar .quarto-listing-category-title {
  font-weight: unset;
  font-size: unset;
  cursor: unset;
}
.card {
  border-bottom: solid $border-color 3px;
}
.card-img-top {
  background-color: rgba($primary, 75%);
}
.quarto-grid-item .card-title {
  margin-bottom: .75rem;
}
.listing-date {
  font-family: $headings-font-family;
  font-weight: 500;
  color: $purple;
}
.listing-file-modified {
  font-family: $headings-font-family;
  color: $text-muted;
}
.column-margin, .margin-sidebar, .sidebar, .description {
  color: $text-muted;
}
div.sourceCode, pre.sourceCode {
  background-color: darken($body-bg, 3%);
}
.callout.callout-style-default, .callout {
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: $input-bg;
}
.callout.callout-style-default .callout-body {
  font-size: unset;
}
#quarto-appendix.default .quarto-appendix-bibtex,
#quarto-appendix.default .quarto-appendix-citeas {
  font-size: .8rem;
  border: none;
  background: transparent;
}
.quarto-title .quarto-categories .quarto-category,
.quarto-grid-item .listing-categories .listing-category,
div.quarto-post .listing-categories .listing-category {
  font-family: $headings-font-family;
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: $text-muted;
  border: none;
  border-radius: 0;
  height: line-height;
  padding: auto .75rem;
  background-color: $gray-400;
  opacity: 1;
}
.quarto-grid-item .card-text {
  margin-top: .5em;
}
.table {
  border-top: none;
  border-radius: 0;
}
.table>thead {
  border-bottom: 1px solid $body-color;
}
th {
  font-family: $headings-font-family;
  font-weight: 300;
}
.table>:not(caption)>*>* {
  padding: 0.2rem 0.5rem 0.05rem 0.5rem;
}
.table-sm>:not(caption)>*>* {
  padding: 0.1rem 0.5rem 0 0.5rem;
}
.small th {
  font-size: 1rem;
}
caption, .panel-caption, .figure-caption, .subfigure-caption, .table-caption,
figcaption, .column-margin figcaption,
.margin-caption, div.aside, aside, .column-margin {
  font-family: $headings-font-family;
  font-size: .9rem;
  color: $text-muted;
}
caption, .table-caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
.img-thumbnail {
  padding: 0;
}
.img-fluid {
  border-radius: $border-radius;
}

/*-- layout fixes --*/

body {
  background-image: linear-gradient(180deg, $white 80%, $body-bg 100%);
  background-repeat: no-repeat;
}
nav.sidebar.sidebar-navigation:not(.rollup) {
  background-color: transparent;
}
#quarto-header>nav {
  padding-left: 0;
  padding-right: 0;
}
.navbar-brand {
  margin-left: 1rem;
  margin-right: 3rem;
  font-weight: 500;
  color: $white;
}
.navbar .navbar-toggler {
  margin-right: 0;
}
.quarto-title-banner {
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
#title-block-header {
  background-color: $gray-200;
  padding-bottom: 0;
  margin-block-end: 0;
}
#quarto-content>* {
  padding-top: 0;
  margin-top: 0;
}
#quarto-margin-sidebar {
  padding-left: 1rem;
}
main>p, main>h2, main>section {
  margin-top: 1rem;
}
