/*-- scss:rules --*/

#quarto-content .quarto-sidebar-toggle {
  background: none;
  border: none;
}
.quarto-sidebar-toggle-title {
  display: none;
  font-family: $font-sans-serif;
  font-size: $small-font-size;
  background: none;
  border-bottom: solid 1px $border-color;
  margin-top: .5* $spacer;
  padding: .5em;
}
nav.sidebar.sidebar-navigation:not(.rollup) {
  background-color: transparent;
}
nav.sidebar .nav-link {
  font-family: $font-sans-serif;
  font-size: $small-font-size;
}

.sidebar .toc-actions h2, .sidebar .toc-actions .h2,
.sidebar .quarto-code-links h2, .sidebar .quarto-code-links .h2,
.sidebar .quarto-other-links h2, .sidebar .quarto-other-links .h2,
.sidebar .quarto-alternate-notebooks h2, .sidebar .quarto-alternate-notebooks .h2,
.sidebar .quarto-alternate-formats h2, .sidebar .quarto-alternate-formats .h2,
.sidebar nav[role=doc-toc]>h2, .sidebar nav[role=doc-toc]>.h2 {
  margin-top: 1* $spacer;
  margin-bottom: .5* $spacer;
}
.sidebar.sidebar-navigation>* {
  padding-top: $spacer;
}
.sidebar nav[role=doc-toc]>ul li a {
  color: $text-muted;
  border-left: solid 1px $border-color;
}
.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: solid 2px $primary;
}
.sidebar .toc-actions ul li a, .sidebar .quarto-code-links ul li a,
.sidebar .quarto-other-links ul li a, .sidebar .quarto-alternate-notebooks ul li a,
.sidebar .quarto-alternate-formats ul li a, .sidebar nav[role=doc-toc]>ul li a {
  line-height: calc($spacer - .125* $spacer);
  padding-bottom: .125* $spacer;
}