/* Theme: mb.labs */
/* Author: BACOU, Melanie <mel@mbacou.com> */
/* Version: v1.0.0 */
/* Date: 2024-01-31 */
/* Mel B. Labs - See _brand.yml to override colors and fonts */

/*-- scss:defaults --*/

$theme: "mb.labs";

$black:     #000000;
$white:     #ffffff;
$cyan:      #789494;
$teal:      #445e64;
$dark:      #222e32;
$pink:      #aea39a;
$purple:    #98796f;
$indigo:    #9b59b6;
$blue:      #3daee9;
$green:     #27ae60;
$yellow:    #eed04c;
$orange:    #ffac5e;
$red:       #da4453;
$gray:      #505050;
$light:     #fdfcf9;                        // Notebook paper tone
$darkgray:  #e7e2da;                        // Notebook paper rules
$ruler:     #fca5a5;                        // Notebook margin rule

$gray-100:   tint-color($gray, 90%);
$gray-200:   tint-color($gray, 80%);
$gray-300:   tint-color($gray, 70%);
$gray-400:   tint-color($gray, 60%);
$gray-500:   tint-color($gray, 50%);
$gray-600:   tint-color($gray, 40%);
$gray-700:   tint-color($gray, 30%);
$gray-800:   tint-color($gray, 20%);
$gray-900:   tint-color($gray, 10%);

$body-color: $gray;
$body-bg:    $light;
$bg-opacity: 1;

$primary:    rgba($ruler, 95%);
$secondary:  rgba($body-color, 55%);
$success:    $teal;

$link-color: $gray-700;
$text-muted: $gray-700;
$code-color: $gray-700;
$shaded: tint-color($body-bg, 25%);         // see $input-bg for .shaded

$enable-rounded: true;
$enable-negative-margins: true;

$font-family-base:     "Pensum Pro";
$headings-font-family: "M PLUS Code Latin";
$font-monospace:       "M PLUS Code Latin";
$font-sans-serif:      "M PLUS Code Latin";
$font-script:          "Marck Script";

$font-weight-bold: 500;
$headings-font-weight: 400;
$headings-font-color: $gray-900;

$spacer: 28px ;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 1,
  4: $spacer * 1.5,
  5: $spacer * 2,
);

$font-size-base: 1rem;                         // 18px in `_quarto.yml`
$h1-font-size:  calc($font-size-base + 16px);  // 34px
$h2-font-size:  calc($font-size-base + 10px);  // 28px
$h3-font-size:  calc($font-size-base + 10px);  // 28px
$h4-font-size:  calc($font-size-base + 6px);   // 24px
$h5-font-size:  calc($font-size-base + 4px);   // 22px
$h6-font-size:  calc($font-size-base);

$line-height-base: calc($spacer / 18px);
$headings-line-height: $line-height-base;
$small-font-size: calc(1rem - 3px);
$code-font-size: calc(1rem - 3px);
$list-inline-padding: .5* $spacer;

$blockquote-font-size: 1rem;
$blockquote-font-color: $gray-400;
$blockquote-margin-y: 1* $spacer;
$blockquote-small-color: $gray-900;

$border-color: $body-color;
$border-radius-sm: 4px;
$border-radius: 4px;
$border-radius-lg: 0.50rem;
$border-width: 2px;
$hr-border-color: $body-color;
$hr-opacity: .75;

$table-cell-padding: 0 .5em;
$table-cell-padding-sm: 0 .25em;
$table-striped-bg: $shaded;
$table-border-color: $border-color;

$thumbnail-border-width: 0;
$thumbnail-border-radius: $border-radius;
$thumbnail-border-color: $border-color;

$input-color: $text-muted;
$input-bg: $shaded;
$input-btn-padding-y: .25* $spacer;
$input-placeholder-color: $input-color;
$input-border-color: $border-color;
$input-disabled-bg: darken($input-bg, 4%);
$input-group-addon-bg: $shaded;

$breadcrumb-active-color: $body-color;
$component-active-bg: rgba($link-color, 12%);

$jumbotron-bg: $shaded;
$label-margin-bottom: .25* $spacer;
$list-group-bg: $input-bg;
$list-group-border-color: $input-border-color;
$list-group-hover-bg: lighten($component-active-bg, 20%);
$modal-content-bg: $input-bg;
$modal-content-border-color: $border-color;

$pagination-bg: $input-bg;
$pagination-border-color: $border-color;
$pagination-color: $input-color;
$pagination-disabled-bg: $input-disabled-bg;
$pagination-hover-color: $link-color;
$progress-bg: $input-bg;

$card-bg: transparent;
$card-spacer-x: 0;
$card-spacer-y: 0;
$card-cap-bg: rgba($white, 90%);
$card-border-color: $border-color;
$card-border-width: 0;
$card-border-radius: $border-radius;

$navbar-active-color: $body-color;
$navbar-hover-color: $primary;
$navbar-border-color: $border-color;
$navbar-brand-padding-y: 0;
$navbar-brand-font-size: 1.75rem;

$nav-link-color: $body-color;
$nav-link-active-color: $body-color;
$nav-link-hover-color: $primary;
$nav-link-font-family: $font-sans-serif;
$nav-link-font-weight: 500;
$nav-link-font-size: 1rem;
$nav-link-padding-x: 1em;
$nav-link-padding-y: 0;
$nav-tabs-border-color: $border-color;


/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@400..500&family=Marck+Script&display=swap');

@font-face {
    font-family: "Pensum Pro";
    src: url("assets/fonts/PensumPro-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pensum Pro";
    src: url("assets/fonts/PensumPro-Bold.woff2");
    font-weight: 500;
    font-style: normal;
}


// Quarto layout overrides
#quarto-content>*, #quarto-header>* {
  line-height: $spacer;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

// rules
b, strong {
  font-weight: 500;
}
p, div {
  line-height: $spacer;
}
p {
  margin-bottom: .5* $spacer;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-weight: $headings-font-weight;
  margin-top: 1* $spacer;
  margin-bottom: .5* $spacer;
  padding: 0;
}
h4, .h4, h5, .h5 {
  font-weight: 500;
}
h1, .h1 {
  line-height: 1.5* $spacer;
  margin-top: 1.75* $spacer;
  margin-bottom: .75* $spacer;
  padding-top: .5* $spacer;
  background: transparent url(assets/stroke-01.svg) 0 0 no-repeat;
}
h2, .h2 {
  color: rgba($body-color, 45%);
  font-style: normal;
  font-weight: 300;
  border-bottom: solid 1px $border-color;
}
hr {
  border-top: dashed 1px $border-color;
  margin: 0 0 .5* $spacer 0;
}
ol, ul, dl {
  margin-bottom: .5* $spacer;
}
.blockquote, blockquote p {
  font-size: 1rem;
  line-height: 1.5* $spacer;
  font-style: italic;
  color: $gray-800;
  border: none;
}
blockquote small, blockquote .small {
  font-family: $font-sans-serif;
  color: $headings-font-color;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
.quarto-title-banner h1, .quarto-title-banner .h1,
.quarto-title-banner h2, .quarto-title-banner .h2 {
  color: $gray-800;
  font-weight: 400;
}
.quarto-title-banner .quarto-title .title, h1.title {
  font-family: $headings-font-family;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2* $spacer;
  margin-top: 1* $spacer;
  background: none;
}
.lead {
  font-family: $font-family-base;
  font-weight: 400;
  color: rgba($body-color, 55%);
  font-style: normal;
  font-size: 1.75rem;
  line-height: 1.5* $spacer;
  margin-bottom: 1* $spacer;
}
.lead p {
  line-height: unset;  
}
p.subtitle {
  margin-top: .5* $spacer;
  margin-bottom: 1* $spacer;
}
.description {
  font-family: $font-sans-serif;
  color: rgba($body-color, 85%);
  font-weight: 400;
  font-size: 1.15rem;
  padding: .75* $spacer 2em 0;
  border: solid 1px $border-color;
}
#title-block-header.quarto-title-block.default .description>p:first-child {
  font-family: $headings-font-family;
  font-size: 1.5rem;
  color: $primary;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-heading,
#title-block-header.quarto-title-block.default .abstract .block-title,
#quarto-appendix.default .quarto-appendix-heading, details>summary {
  font-family: $font-sans-serif;
  font-size: .825rem !important;
  color: $primary;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  opacity: 1;
}
#title-block-header.quarto-title-block.default .quarto-title-meta-contents p,
#title-block-header.quarto-title-block.default .quarto-title-authors p,
#title-block-header.quarto-title-block.default .quarto-title-affiliations p,
#title-block-header.quarto-title-block.default .abstract p {
  font-size: $small-font-size;
  color: $text-muted;
  margin-bottom: .5* $spacer;
}
#title-block-header.quarto-title-block.default .abstract p {
  text-align: justify; 
}
#title-block-header.quarto-title-block.default .keywords>p:last-of-type,
#title-block-header.quarto-title-block.default .description>p:last-of-type,
#title-block-header.quarto-title-block.default .abstract>p:last-of-type {
  margin-bottom: 1* $spacer;
}
#quarto-appendix.default {
  background: none;
}

div.quarto-post .metadata {
  font-size: 1rem;
}
.quarto-grid-item .card-attribution, .listing-author, .date, .date-modified {
  color: $text-muted;
}
.quarto-grid-item .card-attribution {
  padding-top: 1* $spacer;
}
.action-links {
  font-family: $headings-font-family;
  color: $text-muted;
  font-weight: 400;
}
h5.card-title {
  font-family: $headings-font-family;
  font-size: 1.25rem;
  font-weight: 500;
  color: $headings-font-color;
}
h5.quarto-listing-category-title, #quarto-margin-sidebar h5,
#quarto-margin-sidebar .quarto-listing-category-title,
.column-margin h5, #toc-title {
  color: $primary;
  font-family: $headings-font-family;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  cursor: unset;
}

// Notebook cards
.card {
  margin: $spacer 0;
}
.quarto-grid-item .card-text {
  font-size: unset;
  margin: 0;
}
.quarto-grid-item .card-text-small {
  font-size: $small-font-size;
}
.quarto-grid-item .card-title {
  margin: $spacer 0 0 0;
}
.quarto-grid-item .card-attribution {
  padding: .5* $spacer 0 0;
  text-transform: none;
  font-weight: 400;
}
.listing-date {
  font-family: $font-sans-serif;
  font-size: $small-font-size;
  text-transform: uppercase;
  font-weight: 500;
  color: $primary;
}
.listing-file-modified, .listing-author {
  font-family: $font-sans-serif;
  font-size: $small-font-size;
  color: $headings-font-color;
}
.quarto-listing-sort {
  margin: 0 0 .5* $spacer auto;
}

pre code {
  font-family: $font-monospace;
  font-size: $code-font-size;
  color: $text-muted;
}
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  font-family: $font-monospace;
  font-size: $code-font-size;
  color: inherit;
  line-height: inherit;
  background-color: transparent;
}
.code-with-filename .code-with-filename-file {
  background-color: transparent;
  border: none;
}
div.sourceCode, details {
  margin: .5*$spacer 0 1*$spacer;
}
div.sourceCode, pre.sourceCode {
  background-color: $input-bg;
  line-height: 22px;
}
#quarto-appendix.default .quarto-appendix-bibtex, .sourceCode .bibtex,
#quarto-appendix.default .quarto-appendix-citeas {
  font-family: $font-monospace;
  font-size: $code-font-size;
  line-height: 22px;
  color: $text-muted;
  border: none;
  background: transparent;
}


/* Tables */
thead, tbody, tfoot, tr, td, th {
  border-color: rgba($body-color, 25%);
}
table, table.table, figure {
  border-top: none;
  margin: .5* $spacer 0 1* $spacer 0;
}
.table>:not(caption)>*>* {
  padding: 0 .5em;
}
.table>thead {
  border-bottom: 2px solid $border-color;
}
.table th {
  font-family: $font-sans-serif;
  color: $headings-font-color;
  font-weight: 400;
}
.table-sm th {
  line-height: $spacer;
}
.table-sm td {
  line-height: calc($spacer - 1px);
}

caption, .panel-caption, .figure-caption, .subfigure-caption, .table-caption,
figcaption, .column-margin figcaption, .margin-caption, div.aside, aside, .column-margin {
  font-family: $font-sans-serif;
  font-size: $small-font-size;
  color: $text-muted;
  text-align: left;
  padding: 0;
  margin-top: .25* $spacer;
  margin-bottom: .5* $spacer;
}
figcaption, .column-margin figcaption {
  margin-top: 0;
}


/* Figures */
.figure-img, .card-img-top {
  background-color: $shaded;
  padding: 0;
  margin: 0 0 .5* $spacer;
  box-shadow:
    -1px -4px 12px rgba(0, 0, 0, 0.085),
    inset -2px -2px 0 rgba(255, 255, 255, 0.4);  
  transition: transform 0.3s ease;
}
.card-img-top {
  padding: calc(.5* $spacer - 2px);
  border: 1px solid rgba($border-color, .75);
  border-radius: 0;
}
.card-img-top:hover {
  transform: scale(1.025);
}
.card-img-top img {
  overflow: clip;
  width: 100%;
  filter: grayscale(1);
}
.card-img, .card-img-top, .card-img-bottom {
  width: unset;
}

// Tape marks (pseudo-elements)
.card-img-top::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 42px;
  background: $ruler;
  opacity: 0.7;
  z-index: 1;
  top: 14px;
  right: -14px;
  transform: rotate(-5deg);
}

.img-thumbnail {
  padding: 0;
  margin-bottom: .5* $spacer;
}
.img-fluid {
  border-radius: $border-radius;
}
.img-rounded {
  border-radius: 6rem;
}


/* Callouts  */

.callout.callout-style-default, .callout.callout-style-simple {
  border: none;
  border-left: 3px solid $primary;
  background-color: $input-bg;
}
.callout.callout-style-simple .callout-body,
.callout.callout-style-default .callout-body {
  font-size: unset;
}
.callout.callout-style-default:not(.no-icon) div.callout-title-container {
  margin-top: unset;
}
callout.callout-style-default>div.callout-header, .callout-title-container {
  font-family: $font-sans-serif;
  font-size: $small-font-size;
  font-weight: 500;
  border-bottom: none;
  padding: 0 .75em;
}
.callout:not(.callout-titled) .callout-body>:last-child,
.callout:not(.callout-titled) .callout-body>div>:last-child {
  margin-bottom: unset;
}
.callout:not(.callout-titled) .callout-body>:first-child,
.callout:not(.callout-titled) .callout-body>div>:first-child {
  margin-top: unset;
}

.panel-tabset > .nav-tabs, .panel-tabset > .tab-content {
  border: none;
}


/* Quarto layout fixes */

// Notebook gridlines
#quarto-content {
  margin-right: 1em;                   // space for navtabs
  background-image:
    linear-gradient(to right, $darkgray, transparent 1px, transparent),
    linear-gradient(to bottom, $darkgray, transparent 1px, transparent);
    background-size: 14px 14px;
    background-position: 12px 12px;
    background-repeat: repeat;
}
#quarto-sidebar {
  background-color: $body-bg;
  border-right: 1px solid $darkgray;
}

#quarto-announcement {
  font-family: $font-sans-serif;
  font-size: 1.25rem;
  border: none;
  justify-content: center;
}
#title-block-header {
  margin-block-end: unset;
  margin-top: unset;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $darkgray;  
}
.page-columns .column-screen-inset-shaded {
  padding: .5* $spacer 2em;
  background: $shaded;
}
.navbar {
  height: 2.5* $spacer;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid $border-color;  
}
.panel-tabset>.nav-tabs {
  line-height: 1.5* $spacer;  
  border-bottom: solid 1px $border-color;
}
.navbar .nav-item:not(.compact) .nav-link {
  line-height: 1.5* $spacer;
}
.navbar .nav-item:not(.compact) .nav-link,
.nav-tabs .nav-item .nav-link {
  margin-right: .25em;
  border: none;
  border-top: solid 3px transparent;
  border-bottom: solid 3px transparent;
}
.navbar .nav-item:not(.compact) .nav-link:hover,
.nav-tabs .nav-item .nav-link:hover {
  border-bottom: solid 3px $primary;
}
.navbar .nav-item:not(.compact) .nav-link.active,
.nav-tabs .nav-item .nav-link.active {
  border-bottom: solid 3px $border-color;
}
.navbar-title {
  font-family: $headings-font-family;
  line-height: 1.5* $spacer;
}
.navbar-logo {
  max-height: 3.5* $spacer;
  position: absolute;
  top: .5* $spacer;
}
footer.footer {
  padding-top: .75* $spacer;
  background-image: linear-gradient(-45deg,
  $shaded 25%, transparent 25%, transparent 50%,
  $shaded 50%, $shaded 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}
footer.footer .nav-footer {
  margin: 0;
  padding: .5* $spacer 2em $spacer;
}
.nav-footer .nav-footer-left,
.nav-footer .nav-footer-right,
.nav-footer .nav-footer-center {
  font-family: $font-sans-serif;
  font-size: $small-font-size;
}
.nav-footer-center {
  display: none;
}

